:root {
  --e-global-color-primary: #ffffff;
  --e-global-color-secondary: #c18d15;
  --e-global-color-text: #000000;
  --e-global-color-accent: #c18d15;

  /* fonts */
  --e-global-typography-primary-font-family: "Montserrat";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Montserrat";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Montserrat";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Montserrat";
  --e-global-typography-accent-font-weight: 500;
}

@font-face {
  font-family: "Lakesides";
  src: url(/resources/fonts/Lakeside/Lakeside-Regular.eot);
  src: url(/resources/fonts/Lakeside/Lakeside-Regular.eot)
      format("embedded-opentype"),
    url(/resources/fonts/Lakeside/Lakeside-Regular.woff2) format("woff2"),
    url(/resources/fonts/Lakeside/Lakeside-Regular.woff) format("woff"),
    url(/resources/fonts/Lakeside/Lakeside-Regular.ttf) format("truetype");
}

html {
  /* 1rem = 10px [Experimental] */
  font-size: 62.5%;
}
