@font-face {
  font-family: "Lakesides";
  src: url(/resources/fonts/Lakeside/Lakeside-Regular.eot);
  src: url(/resources/fonts/Lakeside/Lakeside-Regular.eot)
      format("embedded-opentype"),
    url(/resources/fonts/Lakeside/Lakeside-Regular.woff2) format("woff2"),
    url(/resources/fonts/Lakeside/Lakeside-Regular.woff) format("woff"),
    url(/resources/fonts/Lakeside/Lakeside-Regular.ttf) format("truetype");
}

:root {
  /* Colors
  *
  * global-color = gb-col...
  * font-size = fs-large...
  * font-family = ff-serif...
  *
  */
  --gb-col-primary: #ffffff;
  --gb-col-secondary: #c18d15;
  --gb-col-tertiary: #000000;
  --gb-col-accent: #c18d15;

  /* fonts */
  --fs-large: calc(3.2rem + 3.4vw);
  --fs-medium: calc(1.6rem + 1.4vw);
  --fs-small: calc(1.12rem + 0.5vw);

  --ff-monserrat: "Montserrat", sans-serif;
  --ff-lakesides: "Lakesides", serif;

  /* img */
  --img-basement-bar: url("/resources/img/Covent-Garden-Social-Club-Members-Private-Hire-Spaces-300x300.jpg");
  --img-piano-bar: url("/resources/img/cocktails-covernt-garden-social-club.webp");
  --img-logo-patterns: url("/resources/img/CGSC-Web-Pattern-White.png");
}

/* Global */
html {
  /* 1rem = 10px [Experimental] */
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--ff-monserrat);
  color: var(--gb-col-primary);
  line-height: 1.5;
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  min-width: 6.4rem;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  width: 2rem;
  height: 2rem;
}

a {
  text-decoration: none;
  color: var(--gb-col-primary);
}

section,
footer {
  position: relative;
  top: 8rem;
  left: 0;
}

.hidden__desktop {
  display: none;
}

/* Navigation */
nav > .mobile,
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 2;
  background-color: var(--gb-col-tertiary);
  box-shadow: 0px 2px 12px 6px hsla(0, 0%, 0%, 0.8);

  display: flex;
  justify-content: space-around;
  align-items: center;

  & .menu,
  & .cta {
    height: 100%;
    width: 15%;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  & header {
    height: 100%;
    width: 70%;
    text-align: center;
  }

  & .icon > svg {
    fill: var(--gb-col-primary);
  }

  & .cta > svg {
    fill: var(--gb-col-accent);
  }
}

header h1 {
  font-family: "Lakesides", serif;
  font-size: var(--fs-large);
  font-weight: 500;
}

/* Hero */
.hero {
  width: 100%;
  min-height: 50rem;
  display: grid;
  place-content: center;

  & .hero__video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .hero__img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
      width: 50%;
      object-fit: cover;
    }

    & .hero__title {
      text-align: center;
      width: 100%;

      & h2 {
        font-size: var(--fs-small);
        text-transform: uppercase;
        color: var(--gb-col-accent);
        letter-spacing: 0.15rem;
        line-height: 1;
        max-width: 60%;
        margin-inline: auto;
      }
    }
  }
}

/* Content */
.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 3.25rem;
  text-align: center;
  margin: 0;

  background-image: var(--img-logo-patterns);
  background-color: var(--gb-col-secondary);
  background-size: cover;

  p,
  h3 {
    margin: 0;
  }

  & .about__title {
    text-transform: uppercase;
    font-size: calc(var(--fs-small) + 0.5vw);
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  & .about__text {
    font-size: var(--fs-small);
    color: var(--gb-col-tertiary);
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

/* bar */
button.btn {
  border: none;
  outline: none;
  padding: 1rem;
  width: 14rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  background-color: var(--gb-col-secondary);
  color: var(--gb-col-primary);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--gb-col-primary);
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
}

.bar {
  width: 100%;

  & > div {
    width: 100%;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.125rem;

    background-size: cover;
    background-position: center center;

    & > .bar__text-box {
      width: 100%;

      & > p {
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 1;
        font-size: var(--fs-medium);
        text-transform: uppercase;
      }

      & > p:first-child {
        font-weight: 700;
      }
    }
  }

  & div.bar__piano {
    background-image: var(--img-basement-bar);
  }

  & div.bar__basement {
    background-image: var(--img-piano-bar);
  }
}

/* Opt for membership section */
.membership {
  background-image: var(--img-logo-patterns);
  background-color: var(--gb-col-tertiary);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 0;

  & .membership__header {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3,
    p {
      text-transform: uppercase;
      margin: 0;
      line-height: 1.2;
    }

    & > h3 {
      font-size: var(--fs-medium);
    }

    & > p {
      font-size: 1.2rem;
      width: 65%;
    }
  }

  & .membership__img-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & > .membership__img {
      width: fit-content;
      object-fit: cover;
      padding: 2.5rem;
    }
  }

  & article {
    width: 85%;
    text-align: center;
    font-size: var(--fs-small);
    line-height: 1.5;
    margin-bottom: 2.5rem;
    font-weight: 600;
  }
}

.demo {
  width: 100%;
  background-color: var(--gb-col-secondary);
  background-image: var(--img-logo-patterns);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 3rem 0;

  & h3 {
    font-size: var(--fs-medium);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  & p {
    font-size: 1.2rem;
    font-weight: 450;
    margin: 0;
    width: 100%;
  }

  & .demo__header {
    width: 100%;
    height: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    text-transform: uppercase;
    gap: 1.4rem;
  }

  & .demo__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 85%;

    & .demo__card {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;

      & img {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
      }

      & h3 {
        line-height: 1;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.map {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);

  width: 100%;
  height: 35rem;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.gallery {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0;
  align-items: center;

  h3 {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  & .gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 85%;
  }
}

/* Footer */
footer {
  width: 100%;
  background-color: var(--gb-col-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  top: 8rem;

  & .footer__nav {
    width: 100%;

    & ul {
      display: flex;
      flex-flow: row wrap;
      gap: 3rem;
      width: 80%;
      justify-content: center;
      margin-inline: auto;
      padding: 0;

      & li {
        list-style: none;
        line-height: 1;

        & a {
          text-decoration: none;
          color: var(--gb-col-tertiary);
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  & .footer__logo {
    width: 30%;
    margin: 3rem 0;

    & img {
      filter: invert(100%);
      width: 100%;
    }
  }

  hr {
    width: 10%;
    border: 1px solid var(--gb-col-tertiary);
    margin: 3rem 0;
  }
}

.op-hours {
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;

  & h4 {
    font-size: calc(var(--fs-small) + 1.6px);
    color: var(--gb-col-tertiary);
    font-weight: 800;
    letter-spacing: 1.6px;
  }

  & h4 + p {
    font-size: var(--fs-small);
    margin: 0 0 2.5rem 0;
  }
}

.op-hours__piano,
.op-hours__basement {
  font-size: var(--fs-small);
  color: var(--gb-col-tertiary);
  margin-bottom: 3rem;

  & h5 {
    font-size: 1.2rem;
    line-height: 1;
  }

  & p {
    font-size: var(--fs-small);
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
    line-height: 1.4;
  }
}

.details {
  color: var(--gb-col-tertiary);
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  & h4 {
    font-size: calc(var(--fs-small) + 1.6px);
    font-weight: 800;
    letter-spacing: 1.6px;
    margin-bottom: 1.5rem;
  }

  & .details__address,
  .details__contact {
    width: 75%;
    margin-inline: auto;

    & h5 {
      font-size: 1.2rem;
      line-height: 1;
      padding-bottom: 0.25rem;
    }

    & p {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.4;
      padding-bottom: 3rem;
    }
  }
}

.social-media {
  width: 100%;

  & svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  & ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    line-height: 0;
    list-style: none;
  }
}

.copyright {
  width: 70%;
  text-align: center;
  font-size: 1.1rem;
  color: var(--gb-col-tertiary);

  & a {
    color: var(--gb-col-tertiary);
    text-decoration: none;
    font-weight: bold;
  }
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .mobile,
  nav > .mobile {
    display: none;
  }

  .hidden {
    display: none !important;
  }

  .hidden__desktop {
    display: block;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    & .desktop__logo-container {
      width: 10%;
      height: 100%;
      position: relative;
      padding: 0 1rem;

      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & .desktop__links-container {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;

      & li {
        padding: 0.5rem 3rem;
        text-align: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: var(--gb-col-primary);
          color: var(--gb-col-tertiary);
        }

        &:hover a {
          color: var(--gb-col-tertiary);
        }
      }

      & a {
        text-decoration: none;
        color: var(--gb-col-primary);
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: var(--gb-col-tertiary);
        }
      }
    }

    & .desktop__cta {
      background-color: var(--gb-col-secondary);
      color: var(--gb-col-primary);
      width: 20%;
      max-width: 16rem;
      height: 4rem;
      margin: 0 4.5rem;
      display: grid;
      place-content: center;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--gb-col-primary);
        color: var(--gb-col-tertiary);
      }

      &::before {
        content: "Book now";
        font-size: 1.2rem;
        font-weight: 750;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
    }
  }

  .hero__title {
    & span {
      font-size: 10rem;
      font-family: var(--ff-lakesides);
      letter-spacing: 1px;
      line-height: 1.1;
    }
  }

  .hero {
    min-height: 60rem;

    & .hero__img-container > .hero__title > h2 {
      max-width: 100%;
      font-size: 1.6rem;
    }
  }

  .about {
    padding: 3.75rem 0;

    & .about__title {
      font-weight: 800;
      font-size: 1.8rem;
    }

    & .about__text {
      width: 70%;
      line-height: 1.5;
      font-size: 1.6rem;
    }
  }

  .bar {
    display: flex;

    & > div {
      height: 27.5rem;
    }
  }

  section.bar div.bar__text-box > p {
    font-size: 1.8rem;
  }

  .membership {
    display: grid;
    grid-template-areas:
      "header header header header header"
      "image image image text text"
      ". . . cta cta";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8rem 26rem 4rem;

    & .membership__header {
      grid-area: header;

      & > h3 {
        font-size: var(--fs-small);
      }
    }

    & .membership__img-container {
      grid-area: image;
      width: 90%;
      margin-inline: auto;

      & .membership__img {
        padding: 1rem;
      }
    }

    & article {
      grid-area: text;
      margin-inline: auto;
      width: 100%;

      & p {
        width: 75%;
        font-size: 1.4rem;
        margin-inline: auto;
      }
    }

    & button.btn {
      grid-area: cta;
      margin-inline-start: 50%;
      transform: translateX(-50%);
    }
  }

  .demo {
    & h3 {
      font-size: 2.2rem;
    }

    & .demo__container {
      grid-template-columns: repeat(4, 1fr);
      width: 94%;
    }
  }

  .gallery {
    & .gallery__container {
      grid-template-columns: repeat(4, 1fr);
      padding: 2rem 0;
      width: 70%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .demo {
    padding: 5rem 0;

    .demo__container {
      width: 80%;
    }
  }
}
